**/bin/
**/obj/
**/.vs/
**/.vscode/
**/*.user
**/*.suo
**/*.pdb
**/*.mdb
**/*.db
**/*.log
**/TestResults/
**/node_modules/
Dockerfile
Docker.yaml
.dockerignore
.git
.gitignore
.env
.vs/
.vscode/
.idea/
*.md
*.tgz
*.zip
*.tar
